<form name="posts" action="/posts/new" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="post[title]"> <br>
  <label for="body">Body:</label>
  <textarea name="post[body]" rows="20" cols="50"></textarea>
  tags (comma separated): <input type="text" name="tags">
  <input type="submit" value="Post &raquo;">
</form>